<h1>Questions liked by <%= @user&.full_name %></h1>

<% @question.each do |q| %>
  <%#= link_to q.title, question_path(q) %>
  <%= image_tag q.image.url(:thumb) if q.image.present? %>
  <%= link_to q.title, q %>
<% end %>
